/* if footer has space, then take min-height - footer = 100vh - 10vh = 90vh; */
.footer-container{
  /* making footer stay at the bottom by setting body: position relative and footer absolute */
  position: absolute;
  bottom: 0;
  width:100%;
  height: 5rem;

  color:#fff;
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-image:
    linear-gradient(
       #F8CEEC,#A88BEB);

  padding-bottom: 1rem;
  padding-top: 1rem;
      
}


.footer-2 a{
  text-decoration: none;
  padding: 20px;
  
}

.footer-2 a i{
  width:40px;
  height: 40px;
}

.footer-2 a:hover{
  color: #fff;
  transition:all 0.3s ease-out;
}

#footer-email {
  width: 250px;
  height: 40px;
  border-radius: 4px;
  outline: none;
  border: none;
  padding-left: 0.5rem;
  font-size: 1rem;
  
}
#footer-email::placeholder{
  color: #b1b1b1;
}

#footer-email-btn{
  width:100px;
  height: 40px;
  border-radius: 4px;
  outline: none;
  background-color: #a37ef8;
  border: none;
  color: #fff;
  font-size: 1rem;
}

#footer-email-btn:hover{
 background-color:#856ac4;
 cursor: pointer;
 transition: all 0.4s ease-out;
}

@media only screen and (max-width:768px ){
  .footer-container{
   height:30vh;
 }

 .footer-1,
 .footer-2 
 {
   display: grid;
   grid-template-columns: 1fr;
 }


 .footer-email-form{
  display: grid;
  text-align: center;
  gap:10px;
 }
 .footer-email-form h3{
   font-size: 1rem;
 }
 input[type="submit"] {
  display: block;
  margin : 0 auto;
}
}

