/* avatar set up */
#main-content{
  justify-content: center;
  align-items: center;
 text-align: center;
}
.img-container{
 display: flex;
 justify-content: center;
 align-items: center;
 margin-top: 7rem;
 margin-bottom: 30px;
}
.img-container img{
  width:7em;
  height: 7em;
  border-radius: 50%;

}

.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;

}

.wrapper .static-txt{
font-weight: 400;
font-size: 60px;
color: var(--white);
}

.wrapper .dynamic-txts{
margin-left: 15px;
height: 80px;
line-height: 90px;
overflow: hidden;
}

.dynamic-txts li{
  color:var(--bg-header-1);
  list-style: none;
  font-size: 60px;
  font-weight: 500;
  position: relative;
  top:0;
  animation: slide 12s steps(4) infinite;
}

@keyframes slide{
  100%{
    top: -360px;
  }
}

.dynamic-txts li span{
  position: relative;
  margin: 5px 0;
  line-height: 90px;
}

.dynamic-txts li span::after{
  content: "";
  position: absolute;
  left:0;
  height:100%;
  width:100%;
  background: #0c0808;
  border-left: 3px solid #a37ef8;
  animation: typing 3s steps(12) infinite;
}

@keyframes typing {
  40%, 60%{
    left: calc(100% + 30px);
  }
  100%{
    left: 0;
  }
}

/* end of main part */


.introduction-container .introduction{
margin: 0 auto; 
overflow: hidden;
display: inline-block;
margin-top: 30px;

}

.introduction-container .introduction h1{
 background-image: linear-gradient(90deg, purple, green);
 -webkit-background-clip: text;
 color:transparent;

}

.skills{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 30px;
}

.skill-boxies {
opacity: 0.9;
width: 17em;
background-color: rgb(139, 183, 74);
border-radius: 5px;
}

.skills .skill-boxies h3{
  color:white;
  letter-spacing: 0.5px;
  margin-top: 4px;
letter-spacing: 2px;
}

.skills .skill-boxies .dash{
  margin-top: 4px;
  margin-bottom: 8px;
  padding: 2px;
  background-color: #a37ef8;
  border-radius: 15px;
}

.skills .skill-boxies h4{
  color:white;
  font-weight: 300;
}

/* media query main part */
@media only screen and (max-width:768px ){
  .wrapper{
   display: block;
 }

    .wrapper .static-txt{
      font-weight: 300;
      font-size: 30px;
  }

  .dynamic-txts li{
    font-size: 30px; 
  }

  .dynamic-txts li span::after{
    content: "";
    left:0;
    height:150%;
    width:100%;
    background: #0c0808;
    border-left: 2px solid #a37ef8;
    animation: typing 3s steps(12) infinite;

}

.introduction-container{
  margin-bottom: 30px;
}

.introduction-container .introduction h1{
  font-size: 30px;
}

.skills{
  display:inline-block;
  
}

.skill-boxies {
  width:300px;
  padding:0;
 margin: 10px;
}

}


